* {
  box-sizing: border-box;
}

header {
  width: 960px;
  margin: 10px auto;
}

header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
}

main {
  width: 960px;
  margin: auto;
}

p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}

img {
  width: 300px;
  height: 300px;
}

#myChart {
  width: 300px;
}
